<a href="/">voltar</a>
<h2>Adicione uma nota </h2>
<form action="/notes" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Titulo:</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="O Que Você Está Pensando " />
  </div>

    <div class="mb-3">
    <label for="description" class="form-label">Descrição:</label>
    <textarea class="form-control" name="description" id="description" placeholder="Descreva essa nota com suas palavras mais sinceras possiveis"></textarea>
  </div>
  <button type="submit" value="Enviar" class="btn btn-primary">Criar nota</button>

</form>