.About{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.About p {
     color:#AAA;
     margin-bottom: 2em;
}

.About a {
    display: block;
    margin-top:15px ;
    padding: 10px 15px;
}