@font-face {
    font-family: "Montserrat";
    src: url("/font/Montserrat/Montserrat-VariableFont_wght.ttf");
}
body{
    font-family: "Montserrat";
    background-color: #f6fcff;
    padding: 0;
}
input::placeholder,
textarea::placeholder{
    font-family: "Montserrat";
    color: #aaa;
}
input:focus,
textarea:focus{
    outline: none;

}

a , nav button{
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #000;
    transition: 0.4s;
    font-size: 16px;
    cursor: pointer;
    font-family: "Montserrat"
}

a:hover , nav button:hover{
    color: #bbb;
}

/* estilos de formularios */

form{
    max-width: 40%;
    margin: 0 auto;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom:1em;
}
label span{
    margin-bottom:.3em ;
    font-weight: bold;
    text-align: left;

}

input, textarea{
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding:.8em 0 ;
    background-color: transparent;
}

.btn{
    background-color: #1a8918;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    border:none ;
    padding: 10px 15px;
    font-size: 1em;
    transition: .5s;
    margin-top: 10px;
}

.btn.btn-dark{

    background-color: #000;
    border-radius: 0px;
}

.btn.btn-outline{
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid black;
    color: #000;
    padding: 7px 30px;
}


.btn:hover{
    background-color: rgb(131, 197, 142);
    scale: 110%;
    color: #fff;
}

.btn.btn-outline:hover{
    background-color: #000;
}
.btn.btn-danger:hover{
    background-color: rgb(209, 12, 12);
}

button[disabled]{
    background-color: #AAA;
}
.container .error{
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding:5px;
    border-radius: 5px;
    
}

